<div class='form-banner' style="background-image: linear-gradient(-200deg, rgba(0,0,0,0.3) 5%, rgba(0,0,0,0.1) 100%), url(http://s3-eu-west-1.amazonaws.com/fovento/images/workers2.jpg);">
  <!-- <div class='thumbnail'> -->
  <div class='form-box padded'>
    <div class='background'>
      <div class='form text-center'>
        <h2>Partage tes motivations, et c'est parti!</h2>
        <%= simple_form_for [@candidacy.mission, @candidacy], html: { class: 'form-box'}, validates: true do |f| %>
        <%= f.input :motivation_for_mission, as: :text, label: "Qu'est-ce qui te motive à soutenir cette association / ce secteur?", :input_html => { :rows => 4 , :style => 'font-size: 12px; font-style: italic'}, placeholder: 'Exemple: je suis convaincu que l\'accès pour tous à une éducation de qualité contribue à une meilleure société. De plus, cette asbl est active dans mon quartier, et je suis intéressé de découvrir ses activités.' %>

        <%= f.input :motivation_for_skills, as: :text, label: "As-tu des expériences de projet similaires?", :input_html => { :rows => 4 , :style => 'font-size: 12px; font-style: italic'}, placeholder: "Exemple: mon travail comporte beaucoup d'aspects analytiques, pour lesquels j'utilise régulièrement Excel. Je pense que ceci me permettra de rapidement pouvoir supporter l'association sur cette mission d'analyse de données." %>

        <%= f.input :engagement_practicalities, as: :text, label: "En pratique, quelles sont tes disponibilités?", :input_html => { :rows => 4 , :style => 'font-size: 12px; font-style: italic'}, placeholder: 'Exemple: je suis généralement disponible en semaine à partir de 18h30, sauf le jeudi. Je peux aussi facilement me rendre disponible pour une conversation téléphonique sur le temps de midi. Je suis assez libre les week-ends. Je suis prêt à commencer la mission dès que possible.'%>

        <%= f.simple_fields_for :volunteer do |v| %>
        <%= v.input :phone_number, label: "Quel est ton numéro de téléphone?" %>
        <% end %>

        <div style="display: flex; justify-content: space-around;">
          <%= f.button :submit, value: "Envoyer ma candidature", class: 'btn-primary btn-xs btn-submit' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>

<script>
  $(document).ready(function () {
    jQuery.validator.messages.required = {};
    $("#edit_candidacy_<%= @candidacy.id %>").validate({
      errorElement: 'span',
      rules: {
        'candidacy[motivation_for_skills]': {
          required: true
        },
        'candidacy[motivation_for_mission]': {
          required: true
        },
        'candidacy[engagement_practicalities]': {
          required: true
        }
      }
    });
  });

  $('.btn-submit').on('click',function(e){
    e.preventDefault();
    var form = $(this).parents('form');
    swal({
      title: "Confirmer l'envoi?",
        // text: "You will not be able to recover this imaginary file!",
        type: "success",
        showCancelButton: true,
        confirmButtonColor: "#66a9d7",
        confirmButtonText: "Je confirme!",
        closeOnConfirm: false
      }, function(isConfirm){
        if (isConfirm){
          form.submit();
        };
      });
  })
</script>

<% end %>
