 <!---         HOW               -->
<!-- <div class="how-title text-center features padded">
  <h2>Comment ça marche?</h2>
</div>
<div class="container how-body text-center features padded">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= image_tag("web.png") %>
      <h2>Explore</h2>
      <p>Découvre les missions proposées sur la plate-forme</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= image_tag("start.png") %>
      <h2>Passe à l'action</h2>
      <p>Trouve la mission qui te convient et postule en quelques clicks</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= image_tag("support.png") %>
      <h2>Soutiens</h2>
      <p>Effectue ta mission en collaboration avec l'association</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= image_tag("meet.png") %>
      <h2>Rencontre</h2>
      <p>Découvre la communauté d'actions et d'idées de Fovento</p>
    </div>
  </div>
</div>
</div> -->


 <section id="cd-timeline" class="cd-container">

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <%= image_tag("search.png") %>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>EXPLORE LES MISSIONS</h2>
      <p>Connecte-toi sur la plate-forme et explore les missions, en fonction des compétences que tu veux partager et des causes que tu veux soutenir. Les associations ont créé des feuilles de route de missions avec l'équipe Fovento, pour te donner un maximum de contexte et définir les résultats attendus pour chaque mission.</p>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <%= image_tag("play.png") %>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>PASSE A L'ACTION</h2>
      <p>Lorsque tu as trouvé la mission qui t'intéresse, dépose facilement ta candidature sur le site. Partage brièvement tes motivations et indique tes disponibilités. Ta candidature est alors revue puis partagée avec l'association. Si ton profil lui convient, elle te contacte et la mission peut démarrer!  </p>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <%= image_tag("shapes.png") %>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>SOUTIENS</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <%= image_tag("people.png") %>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>RENCONTRE</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

</section> <!-- cd-timeline -->
