<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <%= link_to image_tag('fovento-logo-long.png'), home_volunteers_path, class: "navbar-wagon-brand" %>

  <!-- Right Navigation, hidden on mobile -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Text link -->
    <%= link_to "COMMUNAUTÉ & IMPACT", community_and_impact_path, class: "navbar-wagon-item navbar-wagon-link"%>

    <!-- Text link -->
    <%= link_to "COMMENT ÇA MARCHE", how_it_works_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Text link -->
    <%= link_to "RESSOURCES", missions_toolkit_path, class: "navbar-wagon-item navbar-wagon-link"%>


    <!-- SHOW ONLY IF VOLUNTEER SIGNED IN -->
    <% if volunteer_signed_in? %>
      <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src=<%=current_volunteer.picture%> class="avatar-large dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Dashboard", dashboard_path %></li>
          <li><%= link_to "Profil", profile_path %></li>
          <li><%= link_to "Log out", destroy_volunteer_session_path , method: :delete %></li>
        </ul>
      </div>
    </div>
    <!-- SHOW ONLY IF VOLUNTEER NOT SIGNED IN -->
    <% else %>
      <div style="width: 120px;">
        <%= link_to new_volunteer_session_path, class: "btn btn-xs btn-social btn-linkedin" do %>
        <span class="fa fa-linkedin"></span>
          Connect &nbsp;
        <% end %>
      </div>
    <% end %>

    <!-- Call-to-actions -->
    <%= link_to 'MISSIONS', missions_path, class: 'navbar-wagon-item navbar-wagon-button btn' %>
  </div>
  <!-- end of right navigation -->

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Missions</a></li>
        <li><a href="#">Communauté & impact</a></li>
        <li><a href="#">Comment ça marche</a></li>
        <li><a href="#">Ressources</a></li>
        <li><a href="#">Mon profil</a></li>
        <li><a href="#">Paramètres</a></li>
        <li><a href="#">Log out</a></li>
      </ul>
    </div>
  </div>
  <!-- end of mobile-only dropdown -->
</div>
