<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <%= link_to image_tag('fovento-logo-long-blue.png'), home_volunteers_path, id:"logo", class: "navbar-wagon-brand" %>

  <!-- Right Navigation, hidden on mobile -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Text link -->
    <%= link_to "ACCUEIL", root_path, class: "navbar-wagon-item navbar-wagon-link"%>

    <!-- Text link -->
    <%= link_to "LES MISSIONS", missions_path, class: "navbar-wagon-item navbar-wagon-link"%>

    <!-- Text link -->
    <%= link_to "FAQ", how_it_works_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Text link -->
    <%= link_to "CONTACT", contact_path, class: "navbar-wagon-item navbar-wagon-link"%>

    <!-- Call-to-actions -->
    <% if volunteer_signed_in? %>
      <div class="dropdown">
        <i class="navicon-small fa fa-user dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <!-- <li><%= link_to "Paramètres", edit_volunteer_registration_path %></li> -->
          <li><%= link_to destroy_volunteer_session_path, :method => :delete do %>
              Log out
              <% end %>
          </li>
        </ul>
      </div>
      <%= link_to 'DASHBOARD', dashboard_path, class: 'navbar-wagon-item navbar-wagon-button btn' %>
    <% else %>
      <%= link_to 'CONNECT', new_volunteer_session_path, class: 'navbar-wagon-item navbar-wagon-button btn' %>
    <% end %>
  </div>
  <!-- end of right navigation -->

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg" style="display: flex; justify-content: space-around">
    <div class="dropdown">
      <% if volunteer_signed_in? %>
      <i class="navicon fa fa-user dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Dashboard", dashboard_path %></li>
        <li><%= link_to destroy_volunteer_session_path, :method => :delete do %>
            Log out
            <% end %>
        </li>
      </ul>
      <% else %>
      <%= link_to new_volunteer_session_path do %>
        <span class="navicon fa fa-sign-in"></span>
      <% end %>
      <% end %>
    </div>
    <div style="flex: 0 0 80%"></div>
    <div class="dropdown">
      <i class="navicon fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Les missions", missions_path %></li>
        <li><%= link_to "FAQ", how_it_works_path %></li>
        <li><%= link_to "Pour les assocs", home_nonprofits_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </div>
  </div>
  <!-- end of mobile-only dropdown -->
</div>
