<div class="modal fade" id="<%= mission.id.to_s%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Checklist de démarrage</h4>
      </div>
      <div class="modal-body candidacy-box">

        <%= simple_form_for logbook, :url => mission_logbook_path(mission, logbook), html: { class: 'form-box' } do |f| %>

        <%= f.input :objectives_understood, inline_label: "Les objectifs et résultats attendus de la mission ont été bien discutés et clarifiés avec l'association." %>

        <%= f.input :ways_of_working_defined, inline_label: "Le format de la mission a été décidé avec l'association (nombre de réunions, points de contact...)." %>

        <%= f.input :planned_end_date, as: :date, start_year: Date.today.year,end_year: Date.today.year + 1, order: [:day, :month, :year], label: "Quelle est la date de fin approximative de la mission?" %>

        <div style="display: flex; justify-content: space-around;">
          <%= f.button :submit, value: "Confirmer le démarrage", onclick: 'return confirm("Confirmer le démarrage?")', class: 'btn-primary btn-xs' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
