<div class="mission-banner" style="background-image: linear-gradient(-225deg, rgba(1,1,1,0.2) 0%, rgba(62,146,204,0.1) 80%), url(http://s3-eu-west-1.amazonaws.com/fovento/images/coffee-desk-notes-workspace.jpg);">
  <div class="placeholder" style="flex: 1 0; min-height: 70px;"> </div>
  <div class="container">
    <div class="page-header" style="color: white">
     <h2><%= image_tag current_volunteer.picture, class: "avatar-candidacy" %> &nbsp; Bienvenue sur ton dashboard, <%= current_volunteer.first_name %>!</h2>
   </div>
 </div>
</div>


<div class="wrapper-gray">
  <div class="container padded">

    <div class="dashboard-card">
      <%= render 'pages/dashboard/candidacies', candidacies: @candidacies %>
    </div>

    <div class="dashboard-card">
      <%= render 'pages/dashboard/missions', missions: @missions %>
    </div>

    <!-- AMBASSADORS ONLY -->
    <% if current_volunteer.ambassador %>

    <div class="page-header">
      <h2><i class="fa fa-hand-peace-o"></i> Espace Ambassadeur (<%= link_to "Ambassadors' Book", ambassadors_path %>)</h2>
    </div>

    <div class="dashboard-card ambassador-card">
      <%= render 'pages/dashboard/drafts', missions: @draft_missions %>
    </div>

    <div class="dashboard-card ambassador-card">
      <%= render 'pages/dashboard/nonprofit_profiles', nonprofit_profiles: @nonprofit_profiles %>
    </div>

    <div class="dashboard-card ambassador-card">
      <%= render 'pages/dashboard/pendingcandidacies', candidacies: @pending_candidacies %>
    </div>

    <div class="dashboard-card ambassador-card">
      <%= render 'pages/dashboard/remarketing', candidacies: @browses %>
    </div>

    <div class="dashboard-card ambassador-card">
      <%= render 'pages/dashboard/staffedmissions', missions: @staffed_missions %>
    </div>

    <div class="dashboard-card ambassador-card">
      <%= render 'pages/dashboard/startedmissions', missions: @started_missions %>
    </div>

    <% end %>
  </div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">

  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });

  $('.swalbutton').on('click',function(e){
    var t = $(this);

    // Only if the event is triggered by a human
    if(e.originalEvent !== undefined ){
      e.preventDefault();
      e.stopPropagation();

      swal({
        title: "Confirmer l'action?",
        // text: "Cette action est irréversible!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#F03A47",
        confirmButtonText: "Je confirme",
        closeOnConfirm: false
      }, function(isConfirm){
        if (isConfirm){
          t.click();
        }
      });
    }
  });

</script>

<% end %>
