<div class="banner" style="background-image: linear-gradient(-200deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%), url(<%= image_path("banner.jpg") %>);">
  <div class="banner-top"> </div>
  <div class="banner-title">
    <h1>DONNE DU SENS A TES COMPETENCES</h1>
  </div>
  <div class="banner-description">
    <p>Fovento te donne</p>
  </div>
  <div class="banner-bottom">
    <a href="#whatid" class="btn-light toscroll">QUEL SERA TON IMPACT?</a>
    <div class="angle-down">
      <i class="fa fa-angle-down"></i>
    </div>
  </div>
</div>

<!---         WHAT               -->
<div class="what text-center features padded" id="whatid">
  <h2 style="color: $verydark;">Donne du sens à tes compétences avec des missions de bénévolat uniques en leur genre:</h2>
  <br>
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= image_tag("impact.png") %>
        <h2>Impact</h2>
        <p><strong>Maximise ton impact</strong> en soutenant directement des associations actives dans une multitude de <strong>secteurs sociétaux</strong></p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag("challenge.png") %>
        <h2>Challenge</h2>
        <p>Donne le <strong>meilleur de toi-même</strong> et enrichis ton expérience lors de missions faisant appel à tes <strong>compétences intellectuelles</strong></p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag("flexibility.png") %>
        <h2>Flexibilité</h2>
        <p>Trouve très simplement des <strong>missions de courte durée</strong>, sans contraintes d'engagement à long terme</p>
      </div>
    </div>
  </div>
</div>

<!---         HOW               -->
<div class="how-title text-center features padded">
  <h2>Comment ça marche?</h2>
</div>
<div class="container how-body text-center features padded">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= image_tag("web.png") %>
      <h2>Explore</h2>
      <p>Découvre les missions proposées sur la plate-forme</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= image_tag("start.png") %>
      <h2>Passe à l'action</h2>
      <p>Trouve la mission qui te convient et postule en quelques clicks</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= image_tag("support.png") %>
      <h2>Soutiens</h2>
      <p>Effectue ta mission en collaboration avec l'association</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= image_tag("meet.png") %>
      <h2>Rencontre</h2>
      <p>Découvre la communauté d'actions et d'idées de Fovento</p>
    </div>
  </div>
</div>








