<div class="banner" style="background-image: linear-gradient(-200deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.4) 50%), url(<%= image_path("work-1.jpg")%>);">
  <div class="banner-top"> </div>
  <div class="banner-title">
    <h1>fovento</h1>
    <p>DONNE DU SENS A TES COMPETENCES</p>
  </div>
  <div class="banner-description">
    <p>Fovento est une plate-forme originale de bénévolat de compétences en Belgique. <br> Votre association peut bénéficier de la plate-forme en toute simplicité! </p>
  </div>
  <div class="banner-bottom">
    <a href="#whatid" class="btn-light toscroll">FOVENTO POUR VOTRE ASSOCIATION</a>
    <div class="angle-down">
      <i class="fa fa-angle-down"></i>
    </div>
  </div>
</div>

<!---         WHAT               -->
<div class="what text-center features padded" id="whatid">
  <h2>L'offre de Fovento pour votre association:</h2>
  <br>
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "power (1).png" %>
        <h2>Coup de boost</h2>
        <p>Bénéficiez d'une aide ponctuelle sur des sujets tactiques pour progresser dans vos activités</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "business (1).png" %>
        <h2>Rencontre</h2>
        <p>Vivez une expérience humaine enrichissante avec des bénévoles jeunes et motivés</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "fast-forward.png" %>
        <h2>Rapidité et facilité</h2>
        <p>Identifiez vos besoins et trouvez des bénévoles en toute simplicité </p>
      </div>
    </div>
  </div>
</div>

<!---         HOW               -->
<div class="how text-center features padded">
  <h2>Comment ça marche?</h2>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag "tool (1).png" %>
        <h2>Identification des besoins</h2>
        <p>Une brève rencontre avec un ambassadeur Fovento permet de spécifier ensemble quels sont vos besoins</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag "connection (1).png" %>
        <h2>Partage sur la plate-forme</h2>
        <p>Vos besoins sont consignés dans une feuille de route de mission et partagés avec la communauté de bénévoles</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag "play (1).png" %>
        <h2>Staffing et démarrage</h2>
        <p>L'équipe Fovento identifie avec vous le ou la bénévole qui vous correspond le mieux, et la mission peut démarrer</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag "happiness.png" %>
        <h2>Accompagnement et soutien</h2>
        <p>L'équipe Fovento vous accompagne et vous soutient durant la mission, jusqu'à son accomplissement</p>
      </div>
    </div>
  </div>
  <a href="#exid" class="btn-light toscroll fa fa-angle-down" style="font-size: 45px; text-decoration: none; color: #F7B32B;"></a>
</div>
