<div class="wrapper">
  <div class="container padded">
  <div class="team-header">
  <h3>La Team Fovento</h3>
  <hr>
  <p>Nous sommes la Team Fovento: 4 jeunes gaillards bruxellois, tous bénévoles sur le projet. Nous avons décidé de lancer Fovento pour inspirer un maximum de citoyens à passer à l'action avec leurs compétences. Nous travaillons dur pour t'offrir le meilleur de Fovento! Contacte-nous <%= link_to "ici", contacts_path %>.</p>
  </div>
    <div class="row">

    <!-- FIRST TEAM MEMBER -->
      <div class="col-md-3">
        <div class="team-member-card">
         <div class="team-member-header">

           <div class="team-member-picture">
            <%= image_tag "edouard-team.png", class: 'avatar-team' %>
          </div>

          <!-- FIRST NAME -->
          <div class="team-member-name">
          <h1 class="team-member-first-name">EDOUARD</h1>
            <!-- LAST NAME -->
            JACQUIN
          </div>

        </div>
        <!-- DESCRIPTION -->
        <div class="team-member-description">
          <p>Ce vrai bruxellois au style savamment étudié parviendrait presque à nous faire oublier ses racines françaises. </p>
          <p>En tant que bon consultant, il manie à merveille les ficelles du project management au service de Fovento. Son enthousiasme et sa maîtrise des réseaux sociaux contribuent à faire grandir la communauté Fovento jour après jour. </p>
          <p>Jeune homme à l’humour typé et à l’opinion bien tranchée, Edouard est aussi un grand sportif ascendant footeux qui aime profiter de la vie et pavoiser le dimanche sur la place Flagey.</p>
        </div>
        <!-- QUOTE -->
        <p>Sa phrase préférée : " On ne fait pas un bébé avec neuf femmes en un mois !"</p>
      </div>
    </div>
    <!-- END OF FIRST TEAM MEMBER -->



    <!-- SECOND TEAM MEMBER -->
      <div class="col-md-3">
        <div class="team-member-card">
         <div class="team-member-header">

           <div class="team-member-picture">
            <%= image_tag "vincent-team.png", class: 'avatar-team' %>
          </div>

          <!-- FIRST NAME -->
          <div class="team-member-name">
          <h1 class="team-member-first-name">VINCENT</h1>
            <!-- LAST NAME -->
            MATTON
          </div>

        </div>
        <!-- DESCRIPTION -->
        <div class="team-member-description">
          <p>C’est le designer de la bande ! Le visuel, ça le connait ! Ingénieur civil de formation et passionné de photographie, on peut dire que ce jeune papa a le compas dans l’œil et l’âme d’artiste !</p>
          <p>Son sens de la comm’ et du travail bien fait ont contribué sensiblement au développement de ce beau bébé qu’est Fovento et continuent à le rendre meilleur chaque jour. </p>
          <p>Vincent aime jongler entre les biberons et les marteaux-piqueurs, lui qui bricole avec amour dans sa maison pour en faire le nid parfait de sa petite famille. Mais il aspire également à prendre la route pour découvrir le monde en 2 roues.</p>
        </div>
        <!-- QUOTE -->
        <p>Sa phrase préférée : " Aussi smart qu’on soit, on passe une bonne partie de la journée a être idiot !"</p>
      </div>
    </div>
    <!-- END OF SECOND TEAM MEMBER -->

    <!-- THIRD TEAM MEMBER -->
      <div class="col-md-3">
        <div class="team-member-card">
         <div class="team-member-header">

           <div class="team-member-picture">
            <%= image_tag "thomas-team.png", class: 'avatar-team' %>
          </div>

          <!-- FIRST NAME -->
          <div class="team-member-name">
          <h1 class="team-member-first-name">THOMAS</h1>
            <!-- LAST NAME -->
            VANDERSTRAETEN
          </div>

        </div>
        <!-- DESCRIPTION -->
        <div class="team-member-description">
          <p>Pour développer Fovento, Thomas a su tirer le meilleur de son expérience en tant que consultant en stratégie. Avec un sens de la structure parfois déconcertant, il sait challenger la team et transformer les discussions en plans d’action millimétrés. </p>
          <p>Les défis, ce crolu ténébreux les aime aussi baskets aux pieds, lui qui a fait le tour du Mont Blanc en 3 jours et qui se lève volontiers à 5h du matin pour un trail dominical. </p>
          <p>Magicien de la prose côté pile, geek invétéré côté face, ses talents de codeur acquis durant 7 semaines de cours intensifs lui ont permis de développer « from scratch » la belle plate-forme sur laquelle tu navigues actuellement.</p>
        </div>
        <!-- QUOTE -->
        <p>Sa phrase préférée : " Bon les gars, on est pas là pour être ici !"</p>
      </div>

    </div>
    <!-- END OF THIRD TEAM MEMBER -->


    <!-- FOURTH TEAM MEMBER -->
      <div class="col-md-3">
        <div class="team-member-card">
         <div class="team-member-header">

           <div class="team-member-picture">
            <%= image_tag "guillaume-team.jpg", class: 'avatar-team' %>
          </div>

          <!-- FIRST NAME -->
          <div class="team-member-name">
          <h1 class="team-member-first-name">GUILLAUME</h1>
            <!-- LAST NAME -->
            VANDERWINDEN
          </div>

        </div>
        <!-- DESCRIPTION -->
        <div class="team-member-description">
          <p>Attention à Guillaume, ce qu’il aime c’est l’aventure et sa combativité est inversement proportionnelle à sa carrure !</p>
          <p>Avec ses converses dépareillées, ce sympathique baroudeur a sillonné les routes asiatiques à vélo. Maintenant, il vise une traversée de l’Atlantique à la rame !</p>
          <p>Heureusement, sa grinta est au service du groupe, et entre un master en cours du soir, son boulot et ses amis,  il a toujours du temps pour faire avancer une autre de ses aventures…Fovento ! Calme et réfléchi lors de nos réunions, il n’hésite pas à enchaîner les rencontres avec les associations afin d’identifier leurs besoins et rédiger de belles missions.</p>
        </div>
        <!-- QUOTE -->
        <p>Sa phrase préférée : " C'est pas tout ça mais... quand est-ce qu'on mange?"</p>
      </div>
    </div>
    <!-- END OF FOURTH TEAM MEMBER -->
  </div>
</div>
