
<div class='form-banner' style="background-image: linear-gradient(-200deg, rgba(0,0,0,0.3) 5%, rgba(0,0,0,0.1) 100%), url(http://s3-eu-west-1.amazonaws.com/fovento/images/startbackgroundlight.jpg);">
  <div class='form-box padded'>
    <div class='background'>
      <div class='form text-center'>
        <h2>Des questions? Contacte-nous!</h2>

        <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>

        <% if volunteer_signed_in? %>
        <%= f.input :name, label: 'Nom', :disabled => true, :input_html => { :value => current_volunteer.first_name + " " +current_volunteer.last_name } %>
        <%= f.input :email, :as => :hidden, :input_html => { :value => current_volunteer.email } %>
        <% else %>
        <%= f.input :name, label: 'Nom', :required => true %>
        <%= f.input :email, :required => true %>
        <% end %>
        <%= f.input :message, :as => :text, :required => true,
        :input_html => { :rows => 6}  %>
        <div class= "hidden">
          <%= f.input :nickname, :hint => 'Leave this field blank!' %>
        </div>
        <div>
        </br>
        <%= f.button :submit, 'Envoyer', :class=> "btn btn-primary" %>
      </div>
      <% end %>
    </div>
    <p class="text-center" style="padding-bottom: 10px;">Fovento ASBL - BE 0629.802.588 - contact@fovento.be</p>
  </div>
</div>

