<h2>Mes candidatures</h2>
<p> Retrouve ici toutes tes candidatures partagées aux associations, en attente de validation ou non retenues. Clique <%= link_to "ici", missions_path %> pour voir les missions disponibles.</p>
<table class='table table-condensed table-hover table-striped dashboard-table'>
  <thead>
    <th>Titre de la mission</th>
    <th>Statut</th>
    <th>Date de dépôt</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <!-- GENERATE TERMS AND CONDITIONS ONLY ONCE -->
    <% candidacies.each do |candidacy| %>
    <tr>
      <td><%= candidacy.mission.title %> &nbsp;
        <%= link_to mission_path(candidacy.mission) do %>
        <i class="fa fa-external-link infoicon"></i>
        <% end %>
      </td>
      <td>
        <% case candidacy.status %>
        <% when "pending moderation", "pending confirmation" %>
        <span class="label label-info gray">Envoyée</span>
        <i class="fa fa-info custom-tooltip infoicon" data-toggle="tooltip" data-placement="bottom" title="L'association a reçu ta candidature et celles d'autres bénévoles potentiels. Tu sauras bientôt si ta candidature est retenue. Nous demandons aux associations de se décider endéans 7 jours au plus tard, mais en général tu auras des informations endéans 48 heures."></i>
        <% when "rejected" %>
        <span class="label label-danger">Non retenue</span>
        <i class="fa fa-info custom-tooltip infoicon" data-toggle="tooltip" data-placement="bottom" title="Relax...les candidatures ne sont pas un entretien d'embauche :) L'association a choisi un autre bénévole, sans doute pour des raisons purement pratiques (e.g., disponibilité). N'hésite pas à postuler pour d'autres missions! "></i>
        <% when "confirmed" %>
        <span class="label label-success">Acceptée</span>
        <i class="fa fa-info custom-tooltip infoicon" data-toggle="tooltip" data-placement="bottom" title="Congrats! Tu peux maintenant suivre la mission dans 'Mes Missions'. Ta candidature reste enregistrée ici si tu veux y accéder plus tard."></i>
        <% end %>
      </td>
      <td><%= candidacy.created_at.strftime("%d/%m/%Y") %></td>
      <td>
        <%= link_to mission_candidacy_path(candidacy.mission, candidacy) do%>
        <i class="fa fa-eye actionicon"></i>
        <% end %>
        &nbsp;
        &nbsp;

        <%= link_to mission_candidacy_path(candidacy.mission, candidacy), method: :delete, :confirm=>'Confirmer?' do %>
        <i class="fa fa-trash actionicon"></i>
        <% end %>

      </td>

    </tr>
    <% end %>
  </tbody>

</table>
<i class="fa fa-eye infoicon"></i><small>   Voir la candidature</small>  &nbsp;
<i class="fa fa-trash infoicon"></i><small>   Retirer la candidature</small>
