<h2>Métriques opérationnelles</h2>
<p> Le Père Damien savait exactement combien de bics il vendait. Gandhi aurait bien compté chaque grain de riz si on lui avait donné à mangé. La Team Fovento sait exactement combien de bénévoles courent dans la nature.</p>

  <div class="row">
    <div class="col-xs-4 col-md-2">
      <div class="metric-box" style="background-color: #2D77AA;">
        <div class="metric">   <%= missions.where(status: "0_draft").count %></div>
        <div class="description">
          Drafts
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-md-2">
      <div class="metric-box" style="background-color:#3285BE;">
        <div class="metric">   <%= missions.where(status: "10_open").count %></div>
        <div class="description">
          A staffer
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-md-2">
    <div class="metric-box" style="background-color: #3E92CC;">
        <div class="metric">   <%= @pending_candidacies.count %></div>
        <div class="description">
          A décider
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-md-2">
      <div class="metric-box" style="background-color: #529DD1;">
        <div class="metric">   <%= missions.where(status: "20_staffed").count %></div>
        <div class="description">
          A démarrer
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-md-2" >
      <div class="metric-box" style="background-color: #66A9D7;">
        <div class="metric">   <%= missions.where(status: "30_started").count %></div>
        <div class="description">
          En cours
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-md-2" >
      <div class="metric-box" style="background-color: #7BB4DC;">
        <div class="metric">   <%= missions.where(status: "50_interrupted").count + missions.where(status: "40_accomplished").count%></div>
        <div class="description">
          A fêter!
        </div>
      </div>
    </div>
  </div>
