<thead>
  <th>Titre de la mission</th>
  <th>Statut</th>
  <th>Date de dépôt</th>
  <th>Actions</th>
</thead>
<tbody>
  <% candidacies.each do |candidacy| %>
  <tr>
    <td><%= candidacy.mission.title %> &nbsp;
      <%= link_to mission_path(candidacy.mission) do %>
        <i class="fa fa-external-link" style="color: gray; font-size: 20px;"></i>
      <% end %>
    </td>
    <td>
      <% case candidacy.status %>
      <% when 'pending validation' || 'pending confirmation' %>
        <span class="label label-info gray">Envoyée</span>
      <% when 'rejected' %>
        <span class="label label-warning">Non retenue</span>
      <% end %>
    </td>
    <td><%= candidacy.created_at.strftime("%d/%m/%Y") %></td>
    <td>
      <%= link_to mission_candidacy_path(candidacy.mission, candidacy) do%>
        <i class="fa fa-eye" style="color: gray; font-size: 20px;"></i>
      <% end %>
      &nbsp;
      &nbsp;

      <%= link_to mission_candidacy_path(candidacy.mission, candidacy), method: :delete, onclick: 'return confirm("Confirmer le retrait de la candidature?")' do %>
        <i class="fa fa-trash" style="color: gray; font-size: 20px;"></i>
      <% end %>

    </td>

  </tr>
  <% end %>
</tbody>
