<h1>Ta candidature Fovento</h1>

<p>Hello,</p>

<p>Bonne nouvelle, <%= @volunteer.first_name %>! Ta candidature a été acceptée par l'association <%= @mission.nonprofit_profile.name %> pour la mission Fovento suivante: <%= @mission.title %>.<p>

<p>Si ce n'est pas encore fait, l'association va rapidement te contacter pour discuter du début de ta mission.</p>

<p>Après discussion avec l'association, pour que ta mission démarre officiellement, il est <b>important que tu remplisses la checklist de démarrage à cette adresse: <%= link_to "Checklist de démarrage", mission_begin_url(@mission) %>.</b> Tu peux aussi ici accéder directement via ton <%= link_to "dashboard", dashboard_url %>. Ces deux liens nécessitent que tu sois connecté(e) à ton compte Fovento.</p>

<p>Nous te souhaitons beaucoup d'impact et de plaisir dans cette mission!</p>

<p>Cheers,<p>

<p>La Team Fovento</p>


<p><%= link_to "contact", contacts_url %></p>
