<h1>Proposition de bénévole</h1>

<p>Bonjour,</p>

<p>Bonne nouvelle! <%= @volunteer.first_name + " " + @volunteer.last_name %> se propose comme bénévole pour la mission suivante: <%= @mission.title %>.<p>

<%= link_to "Voir toutes les propositions de bénévoles", mission_candidacies_url(@mission) %>

<p>ATTENTION: Merci de ne pas forwarder ce mail aux bénévoles, car le lien ci-dessus leur sera alors aussi accessible.</p>


<p>L'équipe Fovento vous recommande de contacter directement ce bénévole afin de décider s'il convient bien à la mission, et de discuter concrétement de la manière de démarrer celle-ci. Ce bénévole attend en effet des instructions de votre part pour démarrer la mission s'il est sélectionné. Merci de l'informer endéans 5 jours!/p>

<p>Pour toutes questions la Team Fovento est disponible ici: <%= link_to "Contact", contact_url %></p>

<p>Amicalement,<p>

<p>La Team Fovento</p>


<p>Note: candidature déposée le <%= @candidacy.created_at.strftime("%d/%m/%Y")%> à  <%= @candidacy.created_at.strftime("%H:%M")%>. Merci de donner suite rapidement aux candidatures des bénévoles :) !</p>
