<div class='form-banner' style="background-image: linear-gradient(-200deg, rgba(0,0,0,0.3) 5%, rgba(0,0,0,0.1) 100%), url(<%= image_path("startbackgroundlight.jpg") %>);">
  <div class='form-box padded'>
    <div class='background'>
      <div class='form'>
        <h2>Checklist de démarrage</h2>
        <%= content_for(:links) do %>
        Je m'engage à mener la mission professionnellement, en accord avec les <%= link_to "valeurs Fovento", community_and_impact_path, :target => "_blank" %> et les <%=link_to "conditions d'utilisation", terms_and_conditions_path, :target => "_blank" %>
        <% end %>

        <!-- FORM FOR THE MISSION -->
        <%= simple_form_for @mission, :url => mission_start_path(@mission), method: 'put', html: { class: 'form-box' } do |f| %>
        <!-- NESTED FORM FOR THE LOGBOOK -->
        <%= f.simple_fields_for :logbook do |l| %>
        <%= l.input :objectives_understood, as: :boolean,  inline_label: "J'ai bien compris les besoin de l'association par rapport à cette mission, et j'ai une vision claire des résultats attendus" %>
        <%= l.input :ways_of_working_defined, as: :boolean, inline_label: "Les aspects pratiques de la mission on été discutés et confirmés avec l'association (points de contact, dates-clé...)" %>
        <%= l.input :planned_end_date, start_year: Date.today.year,end_year: Date.today.year + 1, order: [:day, :month, :year], label: "Date de fin estimée de la mission:" %>
        <%= l.input :values_and_terms_accepted, as: :boolean, inline_label: content_for(:links) %>
        <% end %>

        <!-- MISSION START SUBMISSION BUTTON -->
        <div style="display: flex; justify-content: space-around">
          <%= f.button :submit, value: "Confirmer le démarrage", onclick: 'return confirm("Confirmer?")', class: 'btn-primary btn-xs' %>
        </div>
        <% end %>
        <!-- END OF MISSION FORM -->
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {
    $("#mission_logbook_attributes_planned_end_date_4i").hide();
    $("#mission_logbook_attributes_planned_end_date_5i").hide();
    jQuery.validator.messages.required = {};
    $("#edit_mission_<%= @mission.id %>").validate({
      errorElement: 'span',
      rules: {
        'mission[logbook_attributes][values_and_terms_accepted]': {
          required: true
        },
        'mission[logbook_attributes][objectives_understood]': {
          required: true
        },
        'mission[logbook_attributes][ways_of_working_defined]': {
          required: true
        }
      }
    });
  });
</script>
