<!-- META TAGS CONTENT -->
<% content_for :meta_title, "Missions Fovento: quel sera ton impact?" %>
<% content_for :meta_description, "Découvre une trentaine de missions de bénévolat de compétence combinant impact, challenge et flexibilité" %>

<div class="wrapper-gray">
  <div class="container padded">

    <div class="controls text-center">
      <div class="searchboxheader">
      <h3>Découvre les missions Fovento. Quel sera ton impact?</h3>
        <p>Rechercher les missions par compétence &nbsp;  <i class="fa fa-search actionicon" id="boxopener"></i></p>
        <p style="color: gray; font-size: 10px;"><small>Indique tes compétences dans ton <%= link_to "dashboard", dashboard_path %> pour être informé(e) des nouvelles missions!</small></p>
        <hr>
      </p>
      <div class="searchbox">
        <%= simple_form_for :skills, url: missions_path, method: :get do |f| %>
        <%= f.input :list, :as => :hidden, input_html: {id: "skillsform"} %>
        <% @skills_available.each do |skill| %>
        <div class="skillbutton <%= "skilltosearch" if (!@filtered_skills.nil? && @filtered_skills.include?(skill))%>">
          <%= skill %>
        </div>
        <% end %>
        <%= link_to "Afficher toutes les missions", missions_path, class: "skillbutton allskills" %>
        <%= f.button :submit, class: 'hidden' %>
        <% end %>
      </div>

    </div>
  </div>


  <br>

  <div class="row" id="portfolio">
    <% @missions.each do |mission| %>
    <%= render 'card', mission: mission %>
    <% end %>
  </div>
</div>

<% content_for :javascript do %>

<script>
  $("#boxopener").click(function(){
    $(".searchbox").slideToggle();
  });
  $( ".skillbutton" ).click(function() {
    $( this ).toggleClass("skilltosearch");
    var skills = [];
    $(".skilltosearch").each(function() {
      skills.push($(this).text().trim());
    });
    $("#skillsform").val(skills);
    $(".simple_form").trigger("submit");
  });
</script>

<% end %>
