<!-- META TAG CONTENT -->
<% content_for :meta_title, "Mission de bénévolat de compétences Fovento" %>
<% content_for :meta_description, @mission.title %>
<% content_for :meta_image, @mission.nonprofit_profile.logo %>


<% small_banner = @mission.status != '10_open' && @mission.status != '0_draft' %>

<div class=<%= small_banner ? "small-banner" : "mission-banner"%> style="background-image: linear-gradient(-225deg, rgba(1,1,1,0.6) 0%, rgba(62,146,204,0.3) 80%), url(<%=image_path(@mission.picture)%>);">
  <div class="placeholder" style="flex: 1 0; min-height: 70px;"> </div>
  <div class="container">


    <!-- ROADBOOK HEADER -->
    <div class="page-header" style="border-bottom: none">
      <h3 style="color: white"><%= @mission.title %></h3>
      <% @skills.each do |skill| %>
      <span style="font-size: 16px;" class="label label-info gray"><i class="fa fa-lightbulb-o"></i>
        <%= skill %>
      </span>
      &nbsp
      <% end %>
    </div>
    <!-- end of header row (header is bootstrap responsive) -->

    <!-- IMPACT BOX AND APPLY BUTTON -->
    <div class"row">
      <div class="col-xs-12">
        <div class="impact_box" style="min-width: 100%">
          <div><i class="fa fa-heart" id="heart"></i><strong> </strong> <%= @mission.impact %></div>
          <% if @mission.status == '10_open' %>
          <% if !volunteer_signed_in? %>
          <button type="button" class="btn btn-primary btn-xs hidden-xs applybutton" data-toggle="modal" data-target=".mustconnectmodal">
            Je me lance!
          </button>
          <!-- Must connect modal -->
          <%= render 'shared/mustconnect' %>
          <% elsif current_volunteer.candidate?(@mission) %>
          <%= link_to "Voir ma candidature", mission_candidacy_path(@mission, @candidacy), class: 'btn btn-default btn-xs hidden-xs' %>
          <% else %>
          <%= link_to "Je me lance!", edit_mission_candidacy_path(@mission, @candidacy), class: 'applybutton btn btn-primary btn-xs hidden-xs' %>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- TOP BOX FOR STAFFED MISSIONS, WITH TESTIMONIAL -->
    <% if @mission.status != '10_open' && @mission.status != '0_draft' %>
    <div class="row">
      <div class="col-xs-12">
        <div class="roadbook_volunteer_box">
          <%= image_tag @mission.volunteer.picture, class: 'avatar-roadbook' %>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-tag"></i><b>Statut de la mission:</b> <span style="font-size: 12px;" class="label label-info gray">
              <% case @mission.status %>
              <% when '20_staffed', '30_started'%>
              En cours
              <% when '40_accomplished' %>
              Accomplie
              <% when '50_interrupted' %>
              Interrompue
              <% when '99_cancelled' %>
              Annulée
              <% end %>
            </span></li>
            <li><i class="fa-li fa fa-user"></i><b>Bénévole:</b> <%= @mission.volunteer.first_name %></li>
            <% if @mission.status == '40_accomplished' %>
            <li><i class="fa-li fa fa-clock-o"></i><b>Temps donné:</b> <%= @mission.logbook.hours_worked %> heures</li>
            <% if @mission.logbook.testimonial_publishable %>
            <li><i class="fa-li fa fa-comment"></i><b>Témoignage: </b> <%= @mission.logbook.volunteer_testimonial %> </li>
            <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
    <!-- end of top box row -->
  </div>
  <!-- end of impact and apply row -->
</div>
<!-- END OF MISSION BANNER -->

<div class="wrapper-gray">
  <div class="container padded">
    <!-- APPLY BUTTON FOR MOBILE VIEW ONLY -->
    <% if @mission.status == '10_open' %>
    <div class="row">
      <div class="col-xs-12 visible-xs-block">
        <div class="roadbook_mobile_apply_box">
          <% if !volunteer_signed_in? %>
          <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target=".mustconnectmodal">
            Je me lance!
          </button>
          <% elsif current_volunteer.candidate?(@mission) %>
          <%= link_to "Voir ma candidature", mission_candidacy_path(@mission, @candidacy), class: 'btn btn-default btn-md' %>
          <% else %>
          <%= link_to "Je me lance!", edit_mission_candidacy_path(@mission, @candidacy), class: 'btn btn-primary btn-md' %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <div class="row">
      <div class="col-xs-12 col-md-6">

        <!-- NONPROFIT DESCRIPTION -->
        <div class="roadbook_box">
          <h4>L'association</h4>
          <hr>
          <div class ="association_box">
            <%= image_tag @mission.nonprofit_profile.logo, class: 'logo_box', style: 'height: 100px'%>
            <div class="name_and_sector_box">
              <div class="name"><%= @mission.nonprofit_profile.name %></div>
              <div class="sector"><%= @mission.nonprofit_profile.sector %></div>
            </div>
          </div>
          <%= raw(@mission.nonprofit_profile.description) %>
          <p>Voir le <a href="<%= @mission.nonprofit_profile.website %>" target="_blank">site web</a> de l'association.</p>
          <div class="contact_box">
            <%= raw(@mission.nonprofit_profile.map_frame) %>
            <div>
              <!-- filler div -->
            </div>
          </div>
        </div>
        <!-- end of nonprofit box -->

        <!-- PRACTICALITIES -->
        <% if @mission.status == '10_open' || @mission.status == '0_draft' %>
        <div class="roadbook_box">
          <h4>En pratique</h4>
          <hr>
          <ul class="fa-ul">
            <li><i class="fa fa-li fa-calendar"></i><strong>Date de début: </strong><%= @mission.suggested_start_date %></li>
            <li><i class="fa fa-li fa-calendar"></i><strong>Date de fin maximale: </strong><%= @mission.suggested_end_date %></li>
            <li><i class="fa fa-li fa-clock-o"></i><strong>Durée estimée: </strong><%= @mission.suggested_duration %></li>
            <li><i class="fa fa-li fa-arrows"></i><strong>Format suggéré: </strong><%= @mission.suggested_format %></li>
          </ul>
        </div>
        <!-- end of practicalities box -->
        <% end %>
      </div>
      <!-- end of first responsive grid column -->

      <!-- MISSION DESCRIPTION -->
      <div class="col-xs-12 col-md-6">
        <div class="roadbook_box">
         <h4>La mission</h4>
         <hr>
         <p><strong>Titre complet</strong></p>
         <p><%= @mission.full_title %></p>
         <p><strong>Contexte & objectifs</strong></p>
         <%= raw(@mission.objectives) %>
         <p><strong>Résultats attendus</strong></p>
         <ul class="fa-ul">
          <%= raw(@mission.outcomes.gsub('<li>','<li><i class="fa-li fa fa-check-square"></i>')) %>
        </ul>
      </div>
    </div>
    <!-- end of second responsive grid column -->
  </div>
  <!-- end of nonprofit and mission row -->

  <!-- APPLY BUTTON FOR MOBILE VIEW ONLY -->
  <% if @mission.status == '10_open' %>
  <div class="row">
    <div class="col-xs-12 visible-xs-block">
      <div class="roadbook_mobile_apply_box">
        <% if !volunteer_signed_in? %>
        <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target=".mustconnectmodal">
          Je me lance!
        </button>
        <% elsif current_volunteer.candidate?(@mission) %>
        <%= link_to "Voir ma candidature", mission_candidacy_path(@mission, @candidacy), class: 'btn btn-default btn-md' %>
        <% else %>
        <%= link_to "Je me lance!", edit_mission_candidacy_path(@mission, @candidacy), class: 'btn btn-primary btn-md' %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  <!-- end of the 2 final rows -->
</div>
<!-- end of container -->
<!-- support pin -->
<%= render 'shared/support' %>
</div>
<!-- end of wrapper -->


<% content_for :javascript do %>

<!-- ADDTHIS SOCIAL SHARE BUTTONS -->
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56fd932ee415261b"></script>

<script>
  $(document).ready(function() {
    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    $(".pinned").pin({
      containerSelector: ".wrapper-gray",
      minWidth: 940,
      padding: {top: 516}
    });
  });
</script>

<% end %>






