<div class='form-banner' style="background-image: linear-gradient(-200deg, rgba(0,0,0,0.3) 5%, rgba(0,0,0,0.1) 100%), url(<%= image_path("startbackgroundlight.jpg") %>);">
  <div class='form-box padded'>
    <div class='background'>
      <div class='form'>
        <h2>Interruption de mission</h2>
        <!-- FORM FOR THE MISSION -->
        <%= simple_form_for @mission,  :url => mission_interrupt_path(@mission), method: 'put', html: {id: "interrupt_#{@mission.id}", class: 'form-box' } do |f| %>
        <!-- NESTED FORM FOR THE LOGBOOK -->
        <%= f.simple_fields_for :logbook do |l| %>
        <%= l.input :volunteer_feedback, label: "Peux-tu nous en dire plus sur les raisons de cette interruption?", :input_html => { :rows => 4 , :style => 'font-size: 12px; font-style: italic'} %>
        <%= l.input :interrupt_agreed_with_nonprofit, as: :boolean, inline_label: "Cette interruption a été décidée ensemble avec l'association" %>
        <% end %>
        <!-- MISSION START SUBMISSION BUTTON -->
        <div style="display: flex; justify-content: space-around;">
          <%= f.button :submit, value: "Confirmer l'interruption", onclick: 'return confirm("Confirmer?")', class: 'btn-primary btn-xs' %>
        </div>
        <% end %>
        <!-- END OF MISSION FORM -->
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {
    jQuery.validator.messages.required = {};
    $("#interrupt_<%= @mission.id %>").validate({
      errorElement: 'span',
      rules: {
        'mission[logbook_attributes][volunteer_feedback]': {
          required: true
        },
        'mission[logbook_attributes][interrupt_agreed_with_nonprofit]': {
          required: true
        }
      }

    });
  });
</script>
