<!DOCTYPE html>
<html>
<head>
  <title>Fovento</title>
  <%= favicon_link_tag 'favicon.png' %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>
<body>
  <%= javascript_include_tag 'application' %>
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <%= yield %>
  <%= render 'shared/footer' %>
</body>

<script>
$(document).ready(function() {
    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    $(".pinned").pin({
      containerSelector: ".wrapper-gray",
      minWidth: 940,
      padding: {top: 170}
      });
});
</script>

</html>
